@font-face {
    font-family: "Racama";
    src: url(../../shared/assets/fonts/Racama.ttf);
}
@font-face {
    font-family: "Marshall";
    src: url(../../shared/assets/fonts/Amplify_PersonalUseOnly.ttf);
}