@font-face {
    font-family: "Racama";
    src: url(../../assets/fonts/Racama.ttf);
}




.Button {
    padding: 5px;
    border: none;
    font: inherit;
    /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Racama";
    font-size: 35px;
    outline: none;
    border-radius: 50px;

    &:hover {
        color: yellow;
    }
    &:focus {
        color: yellow;
        overflow: none;
        border: none;
    }


}