.LeftSide {
    width: 100%;
    transition: .3s ease-in-out;
}

.Button:hover {
    color: gray !important;
    transition: .1s ease-in-out;

}
.TitleDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: black;
    line-height: normal;
    font-family: "Racama";
    @media screen and (max-width: 700px) {
        align-items: center;
    }
}
.Text {
    font-family: "Racama";
    font-size: 25px;
    color: black;
    &Marshall{
        font-size: 70px;
        
    }
    &Major{
        font-size: 50px;
        color: #96060f;
    }
}

.container {
    @media screen and (max-width: 700px) {
        padding: 5px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}