@font-face {
    font-family: "Racama";
    src: url(../../assets/fonts/Racama.ttf);
}




.Button {
    padding: 5px;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Racama";
    color: white;
    font-size: 25px;
    padding-top: 20px;
    outline: none;

    &:hover {
        color: yellow;
    }
    &:focus {
        color: yellow;
        overflow: none;
        border: none;
    }
    @media screen and (max-width: 1100px) {
        font-size: 20px;;
    }
    @media screen and (max-width: 700px) {
        font-size: 15px;

    }
}